#coffee img {
    width: 60px;
    height: 60px;
    aspect-ratio: 1 / 1;
    opacity: 0.15;
    margin-top: 50px;
    filter: saturate(0) brightness(2);
    transition: opacity 0.1s cubic-bezier(0.075, 0.82, 0.165, 1), filter 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        opacity: 0.25;
        filter: none;
    }
}